<div class="content">
  <div class="content-title">
      <h2>Welcome. Add some bands and venues to get started!</h2>
  </div>
  <div class="content-body">
    As you add bands and venues, click on them for more options.
  </div>
</div>
